<!DOCTYPE html>
<html>
<head>
    <title>Game of Life</title>
    <!-- injector:css -->
    <link rel="stylesheet" href="/main.css">
    <!-- endinjector -->
</head>
<body ng-app="gameOfLife">
<h1>Conway's Game of Life</h1>
<div id="wrapper" ng-controller="MainCtrl as main">
    <div id="grid">
        <div class="row" ng-repeat="row in main.grid">
            <div class="cell" ng-repeat="cell in row">{{cell.isAlive}}</div>
        </div>
    </div>
</div>
<!-- injector:js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/app.js"></script>
<script src="/GridService.js"></script>
<script src="/MainCtrl.js"></script>
<!-- endinjector -->
</body>
</html>