.cell {
    border: 1px dotted gray;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.cell {
    transition: background-color 1s;
}

.cell.alive {
    background-color: black;
}

.cell.dead {
    background-color: white;
}

